/***

<img class= "circular" src="images/Lohos.jpg" alt="lohos profile picture"></td>

***/

body {
  background-color: #EAF6F6;
}


h2 {
  /* background-color: black; */
  color: #66bfbf;
}

h3 {
  /* background-color: black; */
  color: #66bfbf;
  text-align: center;
}

img {
  background-color: #EAF6F6;
}

.top {
  text-align: center;
  padding: 10px;  
}

.top a {
  padding: 0px 5px;
}

.center {
  padding: 10px 15%;
}

.footer {
  text-align: center;
  padding: 10px;
}
.footer a {
  padding: 0px 5px;
}

.circular {
  border-radius:  100%;
}

.card {
    /* width: 130px;
    height: 195px; */
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;

}

.privacy h1, .privacy h2{
  text-align: center;
}